#navbar {
    border: 5rem;
    background-color: #372312;
    position:fixed;
    padding: 2rem 2rem;
    width:100%;
    transition: 0.8s;
}

.nav {
    margin-bottom:100px;
}


#navbar_container {
    padding-bottom:180px;
}

#navbar-bio {
    transition:0.8s;
    z-index:0;
}

.border-brown {
    border-bottom: 6px solid #372312;
}

